*.pyc
.config
ns-3.12/build/
ns-3.12/.waf*/
ns-3.12/different.pcap
ns-3.12/.lock-wscript
tags
*.swp
ns-3.12/evaluation/failure/backup-*
ns-3.12/evaluation/failure/result-*
ns-3.12/evaluation/blackhole/results
ns-3.12/evaluation/failure/retx/retx-*
ns-3.12/evaluation/failure/retx/delay-*
ns-3.12/evaluation/failure/retx/stretch-*
ns-3.12/evaluation/failure/retx/reliability
